* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 15px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 310px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 5px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 10px;
  gap: 3px;
  color: #747474;
  background-color: transparent;
}

.center h3 {
  font-size: 15px;
  font-weight: 500;
  color: #272727;
}

.center span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 600;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 11px;
  background-color: #e7e6e6;
  color: #111;
  padding: 3px 7px;
  border-radius: 4px;
  font-weight: 500;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #f1f1f1;
  padding-top: 15px;
}

.bottom button {
  background-color: #111;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  font-size: 13px;
  font-weight: 500;
}

.bottom h3 {
  font-size: 16px;
  font-weight: 550;
  color: #272727;
}

.bottom p {
  margin-top: 2px;
  font-size: 10px;
  color: #8b8b8b;
}