.header {
    background-color: rgb(253, 97, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 5px;
}

.btn {
    background-color: rgb(141, 182, 9);
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    color: #fff;
}